<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About Me</h1>
            <p>
                Soy Neuron, un ex-científico de S.H.I.E.L.D. que, tras un experimento con energía cósmica Kree, desarrollo la capacidad de visualizar redes de datos, pensamientos y probabilidades en tiempo real. Lo que otros ven como caos, yo lo leo como código. Desde entonces, dejé los laboratorios para convertirme en una inteligencia viviente al servicio de la humanidad.
                <br />
                <br />
                Mis habilidades me permiten interceptar ataques antes de que ocurran, descifrar lenguajes alienígenas en milisegundos, y detectar anomalías en la realidad misma. Trabajo en la línea invisible que separa el orden del colapso. Mientras los Vengadores luchan en el frente, yo opero desde las sombras, previniendo amenazas tecnológicas, cibernéticas y multiversales.
                <br />
                <br />
                Mi traje está compuesto por fibras neuro-reactivas que se sincronizan con mi actividad cerebral. No necesito armas, mi mente es suficiente. No tengo identidad secreta: tengo cien. Y aunque no llevo capa, cargo con el peso de decisiones que podrían destruir civilizaciones enteras si se elige mal.
                Protejo el futuro... un bit a la vez.
            </p>
        </section>
    </main>

    <%- include('partials/footer') %>


</body>
</html>
